---
Language:             Cpp
BasedOnStyle:         Google
ColumnLimit:          160
IndentWidth:          4
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
SortIncludes:         true
